<section>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">메모작성</h1>
		</div>
		<div class="panel-body">
			<form name="memoForm" ng-submit="submitMemo(memo)">
				<div class="form-group">
					<label for="author">이름</label>
					<input type="text" id="author" name="author" class="form-control" placeholder="이름" required ng-model="memo.author">
				</div>
				<div class="form-group">
					<label for="contents">내용</label>
					<textarea id="contents" name="contents" rows="3" class="form-control" placeholder="내용" required ng-model="memo.contents"></textarea>
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="memoForm.$invalid">확인</button>
			</form>
		</div>
	</div>
</section>
