<section>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Bus</h1>
		</div>
		<div class="panel-body">
			<form name="form" ng-submit="submit(item)">
				<div class="form-group">
					<label for="company">Company</label>
					<input type="text" name="company" class="form-control" ng-model="item.company_id.name" />
				</div>
				<div class="form-group">
					<label for="type">Type</label>
					<input type="text" name="type" class="form-control" ng-model="item.type_id.name" />
				</div>
				<div class="form-group">
					<label for="mids">Mids</label>
					<input type="text" name="type" class="form-control" ng-model="item.mids" />
				</div>
				<div class="form-group">
					<label for="times">Times</label>
					<input type="text" name="times" class="form-control" ng-model="item.times" />
				</div>
				
				<button type="submit" class="btn btn-primary btn-lg" ng-disabled="form.$invalid">확인</button>
			</form>
		</div>
	</div>
</section>
