<section>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Line</h1>
		</div>
		<div class="panel-body">
			<form name="form" ng-submit="submit(item)">
				<div class="form-group">
					<label for="dept">Departure</label>
					<br/>
					<select ng-options="city.name for city in cities" ng-model="dept"></select>
				</div>
				<div class="form-group">
					<label for="dest">Destination</label>
					<br/>
					<select ng-options="city.name for city in cities" ng-model="dest"></select>
				</div>
				<div class="form-group">
					<label for="distance">Name</label>
					<input type="number" name="distance" class="form-control" placeholder="Distance" required ng-model="item.distance">
				</div>
				<button type="button" class="btn btn-danger btn-lg" ng-show="item" ng-click="delete(item._id)">지우기</button>
				<button type="submit" class="btn btn-primary btn-lg" ng-disabled="form.$invalid">확인</button>
			</form>
		</div>
	</div>
</section>
