<section>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">TukTuk-Edit</h1>
		</div>
		<div class="panel-body">
			<form name="form" ng-submit="submit(item)">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" name="name" class="form-control" disabled placeholder="Name" required ng-model="item.name">
				</div>
				<div class="form-group">
					<label for="name">Valid</label>
					<br/>
					<select ng-model="item.valid" ng-options="opt.value as opt.name for opt in opts">
					</select>
				</div>
				<button type="submit" class="btn btn-primary btn-lg" ng-disabled="form.$invalid">Save</button>
			</form>
		</div>
	</div>
</section>
